#slider
{
	position: absolute;
	left: 900px;
	top: 200px;
	width: 200px;
}

#play
{
	position: absolute;
	left: 950px;
	top: 250px;
	height: 32px;
	width: 32px;
}

#tooltip
{
	visibility:hidden;
	left: 900px;
	top: 300px;
	position:absolute; 
	border:1px solid #cccccc; 
	color:#6c6c6c;
	font-family:'Myriad Pro','Trebuchet MS', Helvetica, sans-serif;
	font-size: 13px;
	position: relative;
	
	background-color:#eee;
	margin: 0;
	padding:10px;
	text-align:center;
	width:180px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
	 box-shadow: 0px 0 3px rgba(0,0,0,0.25); 
}

#yearLabel
{
	position: absolute;
	left:917px;
	top: 105px;
	font-family:'Myriad Pro','Trebuchet MS', Helvetica, sans-serif;
	font-size: 80px;
	font-weight:bolder;
	font-style:italic;
	color: #555555;
}

#recordLabel
{
	position:absolute;
	top:285px;
	left: 365px;
	z-index:10;
}

#legend 
{
	padding:10px;
	position:absolute;
	left:900px;
	top: 450px;
	border: 1px #EDEDED solid;
	height: 250px;
	width:350px;
	color: #555555;
}

#player
{
	position: absolute;
	left: 900px;
	top: 300px;
}

.song
{
	cursor: pointer;
}