#slider
{
	position: absolute;
	left: 900px;
	top: 200px;
	width: 200px;
}

#play
{
	position: absolute;
	left: 950px;
	top: 250px;
	height: 32px;
	width: 32px;
}

#tooltip
{
	left: 900px;
	top: 300px;
	display:inline; 
	position:absolute; 
	background:#ffffff; 
	border:1px solid #cccccc; 
	color:#6c6c6c;
	width:200px;
	height:100px;
}

#yearLabel
{
	position: absolute;
	left:917px;
	top: 105px;
	font-family:'Myriad Pro','Trebuchet MS', Helvetica, sans-serif;
	font-size: 80px;
	font-weight:bolder;
	font-style:italic;
	color:#E8E9EB;
}

#recordLabel
{
	position:absolute;
	top:285px;
	left: 365px;
	z-index:10;
}

#legend 
{
	padding:10px;
	position:absolute;
	left:900px;
	top: 450px;
	border: 1px #E8E9EB solid;
	height: 250px;
	width:400px;
}

.genre, .artist, .song
{
	position: relative;
}

.genre:after, .artist:after, .song:after
{
	display: none;
	content: 'I am a tooltip';
	border-image: url('/img/tooltip_bubble.png') 10 10 10 10 repeat;
	border-width: 10px 10px 10px 10px;
	position: absolute;
	left: 20px;
	top: -20px;
}

genre:hover:after, .artist:hover:after, .song:hover:after
{
	display: inline;
}

.song
{
	cursor: pointer;
}